@font-face {
    font-family: 'Giaza';
    src: url('Giaza.otf') format('OpenType');
    font-weight: 900;
}
.main2 h1{
    font-family: 'Giaza';
}
@font-face {
    font-family: 'Vintage Moon';
    src: url('vintage-moon.ttf') format('TrueType');
    /* font-weight: 500; */
}
