@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Prosto+One&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Righteous&display=swap');
/* Resets */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    background-color: #000000;
}
html, body{
    overflow-x: hidden;
}
.flex{
    display: flex;
}
:root {
    --font: 'Poppins', sans-serif;
    --color: rgb(106, 164, 146);
    --bg-color: #f4f4f4;
    --primary-color: #ff4757;

    --white-color: #ffffff;
    --light-color: #f1f2f6;

    --text-light-color: #747d8c;
    --text-dark-color: #2f3542;
}
::selection{
    color: #ffffff;
    background-color: #a90404;
}
html::-webkit-scrollbar{
    width: 0.6rem;
    }
    html::-webkit-scrollbar-track{
    background: transparent;
    }
    html::-webkit-scrollbar-thumb{
    background: linear-gradient(#6e0202, #ad1313  , #ff0000, #cb0202, #850909);
    border-radius: 5px;
    }
.container{
    max-width: 100%;
    height: 80px;
    background-color: #ffffff00;
    backdrop-filter: blur(2px);
}

/* Navigation */
nav{
    /* background: linear-gradient(to left, coral,rgb(159, 71, 176)); */
    /* background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%); */
    /* background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); */
    width: 100%;
    height: 80px;
}
.logo{
    display: inline;
    /* width: 150px;
    height: 150px; */
    /* border-radius: 80px; */
    /* border: 2px solid #ad6b13; */
    vertical-align: middle;

    /* background-image: url("Squadlogo_2.png");
    background-position: center;
    background-repeat: no-repeat; */
}
label.logo-label{
    margin: 10px;
    padding: 0 30px;
    line-height: 80px;
    font-size: 1.8rem;
    font-weight: 1000;
    font-family: 'Righteous', cursive;
    color: rgb(255, 0, 0);
}
/* nav .logo i{
    background: -webkit-linear-gradient(#b50211, #550909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: baseline;
    font-size: 2.3rem;
} */
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav a{
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    /* text-transform: uppercase; */
}
a.active,a:hover{
    color: #cb0202;
}


.checkbtn{
    font-size: 1.8rem;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.8);
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* main section */
 .main{
    /* margin-inline: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
    background: -webkit-linear-gradient(to right, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main2{
    /* position: relative; */
    margin-inline: 20px;
    width: 700px;
    height: 300px;
    margin-top: 110px;
    text-align: center;

}

.main2 h1{
    /* position: relative; */
    padding: 15px;
    font-size: 4.3rem;
    font-weight: 700;
    font-family: 'Prosto One', cursive;
    color: #fff;
    transition: all 0.9s;
}
.main2 h1:hover{
    letter-spacing: 5px;
}
.main2 h3{
    /* position: relative; */
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 0, 0);
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

/* SEction header */
/* .section-header {
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 20px;
    display: block;
}
 */
/* .section-header h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding: 10px 20px 10px 12px;
    transition: all 0.9s;
    text-align: left;
} */

/* Cards */

/* .mySwiper span h2{
    /* padding: 20px; 
    border-bottom: 5px solid #f44336;
} */
.swiper-wrapper {
    
    /* height: 35em; */
    display: flex;
    align-items: center;
    border-image: linear-gradient(to right, #f70aff, rgb(129, 13, 13));
    border-image-slice: 1;
}

/* .card {
    width: 300px;
    height: 200px;
   
    background-color: #b1b1b109 ;
    border-radius: 10px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    /* padding: 2em 1em; 
    border: 3px solid #ad1313;
    /* border: 2px solid #8d8e80; */
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    /* margin: 0 2em; 
    overflow: hidden;
} */

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

/* ====================================================================================================/* ============================= General Resets ==================================*/



/* ---cards--- */
/* .short-film {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

/* .container {
    max-width: 1200px;
    width: 100%;
    /* padding: 0 30px; 
}
 */
/* .advideos-section{
    margin-bottom: 300px;
} */

/* .card {
    max-width: 250px;


    /* background: -webkit-linear-gradient(to top, #240b36, #c31432);
    background: linear-gradient(to top, #240b36, #c31432); */


    /* border-radius: 10px;
    box-shadow: rgb(255 255 255/20%)0 0 0 5px;
    margin: 10px auto;
    overflow: hidden;
} */ 

/* Upcoming Projects Section */

.section-header {
	display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-bottom: 60px;
}

.section-header h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding: 10px 20px 10px 12px;
    transition: all 0.9s;
    text-align: left;
}
.upcomings {
    height: 100vh;
}
.container {
    display: block;
    width: 1170px;
    margin-inline: auto;
    /* padding: 0 30px; */
}


/* Cards */

.swiper-wrapper {
    display: flex;
    align-items: center;
    border-image: linear-gradient(to right, #f70aff, rgb(129, 13, 13));
    border-image-slice: 1;
}

.card {
    width: 300px;
    height: 330px;
    background-color: #b1b1b109 ;
    border-radius: 10px;
    border: 3px solid rgb(236, 45, 45);
    overflow: hidden;
}
.card img{
    width: 100%;
    position: relative;
}
.card .shortnote{
    width: 100%;
    padding: 8px;
}
.card .shortnote h3{
    color: #fff;
    font-size: 0.8rem;
    padding: 3px;
    font-family: 'Roboto',sans-serif;
}
.card .shortnote p{
    color: #aeaeae;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.3rem;
    word-wrap:normal;
    padding: 3px;
}
.card .tags{
    padding-left: 5px;
}
.card .tags p{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 3px;
    /* margin-top: 10px; */
    padding: 9px 14px 9px 14px;
    border-radius: 20px;
    font-family: 'vintage-moon';
    display: inline;
    color: #f8e0e0;
    background-color: rgba(209, 209, 209, 0.208);
    background-color: rgba(196, 193, 193, 0.167);
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

/* --- swiper buttons--- */
.swiper-slide-active .card .blur {
    background-size: cover;
    background-position: bottom;
    filter: blur(30px);
    transform: scale(1.5) translateY(10%);
    transition: transform .5s .3s;
}

.swiper-slide-active .card.a1 .blur {
    background-image: url("WissenLogoDark_.png");
    background-image: linear-gradient(to top, #74192e 0%, #bbc4d1 100%);
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); */
}

.swiper-slide-active .card.a2 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); */

}


.swiper-slide-active .card.a3 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); */

}

.swiper-slide-active .card.a4 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); */

}

.swiper-slide-active .card .blur::before {
    transform: translateY(-60%);
}

.swiper-slide-prev .card .blur::before {
    border-radius: 0 0 30% 65%;
}

.swiper .pagination {
    text-align: center;
    padding: 20px;
}

.swiper .pagination span {
    height: 4px;
    border-radius: 4px;
    background-color: #74192e;
    opacity: 1;
    transition: width .3s;
}

.swiper .pagination span[class*=active] {
    width: 26px;
    background-color: #b28383;
}

.nextprev {
    position: absolute;
    right: 50px;
    bottom: 0;
    padding: 15px 0;
}

.nextprev i {
    color: #ffff;
    font-size: 22px;
    padding: 0 10px;
    cursor: pointer;
    outline: 0;
    transition: color .3s;
}

.nextprev i:hover {
    color: #fff;
}
/*Upcoming Projects Section End  */


/* --- swiper buttons--- */
/* .swiper-slide-active .card .blur {
    background-size: cover;
    background-position: bottom;
    filter: blur(30px);
    transform: scale(1.5) translateY(10%);
    transition: transform .5s .3s;
}

.swiper-slide-active .card.a1 .blur {
    background-image: url("WissenLogoDark_.png");
    background-image: linear-gradient(to top, #74192e 0%, #bbc4d1 100%);
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); 
}

.swiper-slide-active .card.a2 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); 

}


.swiper-slide-active .card.a3 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); 

}

.swiper-slide-active .card.a4 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    /* transform: scale(0) translateY(0); */

} */



/* .swiper-slide-active .card.br6.ab6 .blur {
    background-image: url("WissenLogoDark_.png");
    transform: scale(1.5) translateY(-25%);
    transform: scale(0) translateY(0);

} */

/* .swiper-slide-active .card .blur::before {
    transform: translateY(-60%);
}

.swiper-slide-prev .card .blur::before {
    border-radius: 0 0 30% 65%;
}

.swiper .pagination {
    text-align: center;
    padding: 20px;
}

.swiper .pagination span {
    height: 4px;
    border-radius: 4px;
    background-color: var(--text-light-color);
    opacity: 1;
    transition: width .3s;
}

.swiper .pagination span[class*=active] {
    width: 26px;
    background-color: var(--primary-color);
}

.nextprev {
    position: absolute;
    right: 50px;
    bottom: 0;
    padding: 15px 0;
}

.nextprev i {
    color: var(--white-color);
    font-size: 22px;
    padding: 0 10px;
    cursor: pointer;
    outline: 0;
    transition: color .3s;
}

.nextprev i:hover {
    color: var(--primary-color);
} 
 */



/* Footer */
footer{
    width: 100%;
    background: linear-gradient(to top right, #000000, #000000, #000000);
    /* bottom: 0; */
    position: absolute;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    border-top: 2px solid #7e0404;
}
.footer-container{
    width: 85%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #7e0404;
}
.footer-entity{
    flex-basis: 30%;
    padding: 10px;
}
.footer-entity h2{
    /* background: -webkit-linear-gradient(rgb(213, 3, 3), rgb(171, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px; */
    line-height: 80px;
    font-size: 1.8rem;
    font-weight: 1000;
    font-family: 'Righteous', cursive;
    color: rgb(255, 255, 255);
}
/* .footer-entity img{
    width: 50px;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
} */
.footer-entity .address{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    color: #7f7979;

    
}
.footer-entity .add1{
    margin-top: 25px;
}
.footer-entity h3{
    color: #7e0404;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer-entity .email-id{
    color:#7f7979;
    width: fit-content;
    border-bottom: 1px solid #7f7979;
    margin: 20px 0;
}
.footer-entity ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-entity ul li a{
    text-decoration: none;
    color: #7f7979;
    
}
.footer-entity ul li a:hover{
    color: #850909;
}
.footer-entity p i{
    vertical-align: middle;
}.footer-entity .contact-form{
    margin-bottom: 10px;
}
.footer-entity .contact-form input{
    padding: 30px;
}
.footer-entity p .form{
    border-bottom: 1px solid #875b5b;

}
.footer-entity .social a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #7f7979;
}
/* .footer-entity p .form:active{
    color: #bba61d;
} */
.copy-right{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    color: #555;
    padding: 10px;
    font-size: 0.7rem;
}

/* Media query */
@media (max-width:952px) {
    label.logo{
        font-size: 1.4rem;
        /* padding-left: 50px; */
    }
    nav li a{
        font-size: 0.8rem;
    }
    .container{
        margin: 0;
        /* background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9));   */
    }
    
    
}
@media (max-width:1000px) and (min-width:900px){
    .logo-label{
        margin: 10px;
    }
}
@media (max-width: 858px){
    .container{
        max-width: 100%;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #1e1e1e;
        top: 80px;
        left: 0;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        background-color: #000000;
    }
    nav li a{
        font-size: 1rem;
    }
    .main2{
        width: 700px;
    }
    a:hover, a.active{
        color: rgb(159, 71, 50);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .beta-red{
        width: 100vw;
    }

}
@media (max-width: 450px){
    label.logo{
        font-size: 1.3rem;
        margin: 10px;
        padding: 5px; 
    }
    label.checkbtn{
        font-size: 1.3rem;
    }
   
    .main2{
        width: 100%;
        margin-inline: auto;
        
    }
    .container{
        margin: 0;
        /* background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9)); */
    }
    /* .main2 h2{
        padding: 5px;
        font-weight: 550;
        /* color: #bba61d; */
        /* font-family: 'Roboto', sans-serif;
        font-size: 1.5rem; */
        /* background: -webkit-linear-gradient( rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );; */
        /* background: -webkit-linear-gradient(#02b5b2, #093555); */
        /* -webkit-background-clip: text; */
        /* background-clip: text; */
        /* -webkit-text-fill-color: transparent; 
    } */
    .main2 h1{
        padding: 10px;
        font-size: 3.4rem;
        font-weight: 700;
        font-family: 'Prosto One', cursive;
        /* background: -webkit-linear-gradient(#ff9966, #ff5e62);
        /* background: -webkit-linear-gradient(#02b5b2, #093555); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
    .main2 h3{
        font-size: 0.8rem;
        font-weight: 600;
        
        padding: 5px;
        margin-top: 20px;
    }
    
    .footer-container{
        flex-flow: column;
        flex-wrap: nowrap;
    }
    .links{
        display: none;
    }
}
@media (max-width:310px){
    label.logo{
        font-size: 1rem;
        padding: 15px;
    }
    .main2{
        margin-inline: 5px;
    }
    .box1{
        width: 300px;
    }
    .box1 h1{
        font-size: 2rem;
    }
    .box2{
        width: 300px;
    }
    .box2 p{
        font-size: 300px;
    }
}
@media (max-width:280px){
    .main{
        margin-inline: 10px;
    }

}
