/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Prosto+One&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Dirt&family=Rubik+Distressed&family=Rubik+Wet+Paint&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:wght@400;700&family=Prosto+One&family=Roboto:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nova+Square&family=Poppins:wght@400;700&family=Prosto+One&family=Roboto:wght@400;700&family=Shrikhand&display=swap');
/* Resets */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    background-color: #000000;
}
html, body{
    overflow-x: hidden;
}
.flex{
    display: flex;
}
:root {
    --font: 'Poppins', sans-serif;
    --color: rgb(106, 164, 146);
    --bg-color: #f4f4f4;
}
::selection{
    color: #ffffff;
    background-color: #a90404;
}
html::-webkit-scrollbar{
    width: 0.6rem;
    }
    html::-webkit-scrollbar-track{
    background: transparent;
    }
    html::-webkit-scrollbar-thumb{
    /* background: linear-gradient(#6e0202, #ad1313  , #ff0000, #cb0202, #850909); */
    border-radius: 5px;
    }
.container{
    max-width: 100%;
    height: 80px;
    background-color: #ffffff00;
    backdrop-filter: blur(2px);
}

/* Navigation */
nav{
    /* background: linear-gradient(to left, coral,rgb(159, 71, 176)); */
    /* background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%); */
    /* background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); */
    width: 100%;
    height: 80px;
}
.logo{
    display: inline;
    /* width: 150px;
    height: 150px; */
    /* border-radius: 80px; */
    /* border: 2px solid #ad6b13; */
    vertical-align: middle;

    /* background-image: url("Squadlogo_2.png");
    background-position: center;
    background-repeat: no-repeat; */
}
label.logo-label img{
    padding: 5px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    vertical-align: middle;
    margin-left: 10px;
}
label.logo-label h2{
    vertical-align: middle;
    display: inline;
    /* margin: 10px; */
    padding: 0 10px;
    line-height: 80px;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 0, 0);

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav a{
    vertical-align: middle;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Nova Square', cursive;
    padding: 1px 13px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    /* text-transform: uppercase; */
}
.navlinks.active,.navlinks:hover{
    color: #cb0202;
}


.checkbtn{
    font-size: 1.8rem;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.8);
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* main section */
 .main{
    /* margin-inline: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 85vh;
    background: -webkit-linear-gradient(to right, #000000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-body{
    position: relative;
    margin-inline: 20px;
    width: 700px;
    height: 300px;
    /* margin-top: 50px; */
    text-align: center;

}

.main-body h1{
    padding: 15px;
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-family: 'Prosto One', cursive;
    color: #fff;
    transition: all 0.9s;
}
.main-body h1:hover{
    letter-spacing: 5px;
}

.main-body h3{
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Nova Square', cursive;
    color: rgb(255, 0, 0);
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}
/* .main-body .join{
    background-color: #a90404;
    border-radius: 8px;
    padding: 10px;
    margin-top: 45px;
    font-size: 1rem;
    color: antiquewhite;
    right: 10px;

} */
/* .main2 .join:hover{
    background: transparent;
    border: 2px solid #cb0202;
} */
.join-button{
font-family: 'Nova Square', cursive;
align-items: center;
appearance: none;
background-image: radial-gradient(100% 100% at 100% 0, #d68080 0, #ea4040 100%);
border: none;
border-radius: 6px;
box-shadow: rgba(15, 18, 113, 0.4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 23px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
height: 45px;
/* width: 138px; */
padding-left: 16px;
padding-right: 16px;
position: relative;
margin-inline: auto;
text-decoration: none;
transition: box-shadow .15s,transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow,transform;
font-size: 18px;
}

.join-button:focus {
  box-shadow: #e03c3c 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
}

.join-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
  transform: translateY(-4px);
}

.join-button:active {
  box-shadow: #870303 0 3px 7px inset;
  transform: translateY(2px);
}

.join-button img{
    vertical-align: middle;
    
}
.join-button span transformed-state{
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

.join-button span{
    transition-delay: 4s;
}


/* SEction header */
.section-header {
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 20px;
    display: block;
}

.section-header h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding: 10px 20px 10px 12px;
    transition: all 0.9s;
    text-align: center;
}
.about-section .section-header h2{
    padding-top: 19px;
    text-align: start;
    margin-left: 50px;
}
/* About */

.about-section{
    background-color: #9d9c9c20;
/*     border-left: 6px solid #ad1313;
    border-right: 6px solid #ad1313; */
    opacity: 0.9;
/*     border-radius: 42px 53px 42px 53px; */
}
.about{
    margin-inline: auto;
    width: 90vw;
    padding-bottom: 30px;
    height: auto;
    gap: 50px;
}
.about p{
    width: auto;
    font-size: 1.1rem;
    padding: 10px;
    line-height: 1.5rem;
    
    text-align: justify;
    color: rgba(227, 227, 227, 0.8);
}
.about img{
    width: 300px;
    height: 300px;
    border-radius: 180px;
    border: 2px solid#765d5d;
}

/* Cards */
.beta-red {
    /* margin-top: 80px; */
    padding-top: 50px;
    /* background-color: #1d2136; */
    background-color: #000000;
    /* background: linear-gradient(to top right, #1e1b1b, #1b0125, #120726); */
    /* background: linear-gradient(to top right, #1e1b1b, #1b0125, #120726); */
    
}


.mySwiper span h2{
    /* padding: 20px; */
    border-bottom: 5px solid #f44336;
}
.swiper-wrapper {
    
    height: 35em;
    display: flex;
    align-items: center;
    border-image: linear-gradient(to right, #f70aff, rgb(129, 13, 13));
    border-image-slice: 1;
}

.card {
    width: 250px;
    height: 350px;
    /* background: linear-gradient(to top right, #1d2136, #1d2136 ); */
    background-color: #b1b1b109 ;
    border-radius: 10px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    border: 3px solid #ad1313;
    /* border: 2px solid #8d8e80; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

.card__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ad1313;
    /* border: 5px solid var(--color); */
    padding: 3px;
    margin-bottom: 2em;
}

.card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__title {
    color: #ff03c8;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card__name {
    color: #ffffff;
    /* color: rgb(73, 146, 159); */
    font-size: 1.2rem;
    font-family: 'Poppins';
}
.card__name1 {
    color: rgb(255, 0, 55);
}
.card__text {
    color: #b30900d7;
    text-align: center;
    font-size: 1rem;
    margin: 1em 0;
    padding: 10px;
}




/* Footer */
footer{
    width: 100%;
    background: linear-gradient(to top right, #000000, #000000, #000000);
    /* bottom: 0; */
    position: absolute;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    border-top: 2px solid #7e0404;
}
.footer-container{
    width: 85%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #7e0404;
}
.footer-entity{
    flex-basis: 30%;
    padding: 10px;
}
.footer-entity h2{
    /* background: -webkit-linear-gradient(rgb(213, 3, 3), rgb(171, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px; */
    line-height: 80px;
    font-size: 1.8rem;
    font-weight: 1000;
    font-family: 'Fugaz One', cursive;
    color: rgb(255, 255, 255);
}
/* .footer-entity img{
    width: 50px;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
} */
.footer-entity .address{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    color: #7f7979;

    
}
.footer-entity .add1{
    margin-top: 25px;
}
.footer-entity h3{
    font-family: 'Shrikhand';
    color: #7e0404;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer-entity .email-id{
    font-family: 'Nova Square';
    font-size: 1rem;
    color:#7f7979;
    width: fit-content;
    border-bottom: 1px solid #7f7979;
    margin: 20px 0;
}
.footer-entity ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-entity ul li a{
    font-size: 1rem;
    font-family: 'Nova Square';
    text-decoration: none;
    color: #7f7979;
    
}
.footer-entity ul li a:hover{
    color: #850909;
}
.footer-entity p i{
    vertical-align: middle;
}.footer-entity .contact-form{
    margin-bottom: 10px;
}
.footer-entity .contact-form input{
    padding: 30px;
}
.footer-entity p .form{
    border-bottom: 1px solid #875b5b;

}
.footer-entity .social a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #7f7979;
}
.footer-entity .social a:hover{
    color: #a90404;
}
/* .footer-entity p .form:active{
    color: #bba61d;
} */
.copy-right{
    font-family: 'Nova Square',sans-serif;
    text-align: center;
    color: #837e7e;
    padding: 10px;
    font-size: 0.8rem;
}

/* Media query */
@media (max-width:952px) {
    label.logo{
        font-size: 1.4rem;
        /* padding-left: 50px; */
    }
    nav li a{
        font-size: 0.8rem;
    }
    .container{
        margin: 0;
        /* background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9));   */
    }
    
    
}
@media (max-width:1000px) and (min-width:900px){
    .logo-label{
        margin: 10px;
    }
}
@media (max-width: 858px){
    .container{
        max-width: 100%;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #ccc8c8;
        top: 80px;
        left: 0;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        background-color: #000000;
    }
    nav li a{
        font-size: 1rem;
    }
    .main2{
        width: 700px;
    }
    a:hover, a.active{
        color: rgb(159, 71, 50);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .beta-red{
        width: 100vw;
    }

}
@media (max-width: 450px){
    label.logo{
        font-size: 1.3rem;
        margin: 10px;
        padding: 5px; 
    }
    label.checkbtn{
        font-size: 1.3rem;
    }
   
    .main2{
        width: 100%;
        margin-inline: auto;
        
    }
    .container{
        margin: 0;
        /* background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9)); */
    }
    /* .main2 h2{
        padding: 5px;
        font-weight: 550;
        /* color: #bba61d; */
        /* font-family: 'Roboto', sans-serif;
        font-size: 1.5rem; */
        /* background: -webkit-linear-gradient( rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );; */
        /* background: -webkit-linear-gradient(#02b5b2, #093555); */
        /* -webkit-background-clip: text; */
        /* background-clip: text; */
        /* -webkit-text-fill-color: transparent; 
    } */
    .main2 h1{
        padding: 10px;
        font-size: 3.4rem;
        font-weight: 700;
        font-family: 'Prosto One', cursive;
        /* background: -webkit-linear-gradient(#ff9966, #ff5e62);
        /* background: -webkit-linear-gradient(#02b5b2, #093555); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
    .main2 h3{
        font-size: 0.8rem;
        font-weight: 600;
        
        padding: 5px;
        margin-top: 20px;
    }
    
    .footer-container{
        flex-flow: column;
        flex-wrap: nowrap;
    }
    .links{
        display: none;
    }
}
@media (max-width:310px){
    label.logo{
        font-size: 1rem;
        padding: 15px;
    }
    .main2{
        margin-inline: 5px;
    }
    .box1{
        width: 300px;
    }
    .box1 h1{
        font-size: 2rem;
    }
    .box2{
        width: 300px;
    }
    .box2 p{
        font-size: 300px;
    }
}
@media (max-width:280px){
    .main{
        margin-inline: 10px;
    }

}
