@font-face {
    font-family: 'Giaza';
    src: url('Giaza.otf') format('OpenType');
    font-weight: 900;
}
.main-body h1{
    font-family: 'Giaza';
}
.logo-label h2{
    font-family: 'Giaza';
}
